 /* very small devices width less than 768 */
 @media only screen and  (max-width: 767px)
{ 

#mainbody{
  background:url("../photos/huntpagemobile.jpg")no-repeat;
  background-size:cover;
    }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:#344C72;
}    

table-fixed thead {
  width: 97%;
}

#topmostcontainer
{
 
  width:100%; 
  background:transparent;
  background-size:cover;
}
#toplevel
{

  width:100%;
  background-color:rgba(0, 0, 0,0.7)
}
tr
{
  color:white;
}
.row
{
  color:white;
  font-weight:bold;
}
.table-fixed tbody {
  height: 460px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

#formobilehead1
{
  font-size:3px;
}

#formobileheadcollege1
{

  font-size:3px;
  text-align:left;
}
#formobileheadtime1
{

  font-size:3px;
  text-align:right;
}

#currentname,#currentposition,#currentlevel,#college
{
  font-size: 3px;
}

#admpageimage
{
width:4px;
height:4px;
border-radius:30%;
}

#formobilehead
{
  font-size:5px;
}

#formobileheadcollege
{

  font-size:5px;
  text-align:left;
}
#formobileheadtime
{

  font-size:5px;
  text-align:right;
}



#quests,#questno,#answers
{
  font-size:3px;

}
#deletebutton
{
width:4px;

font-size:3px;
}


}

/* Large devices (large desktops, 1200px and up) */
 @media only screen and (min-width: 1200px)
{ 

#mainbody{
  background:url("../photos/leaderboarddesktop.jpg") no-repeat;
  background-size:cover;
    }

#admpageimage
{
width:15px;
height:15px;
border-radius:50%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:#344C72;
}    

table-fixed thead {
  width: 97%;
}

#topmostcontainer
{
  
  background:transparent;
  background-size:cover;
}
#toplevel
{

  background-color:rgba(0, 0, 0,0.7)
}
tr
{
  color:white;
}
.row
{
  color:white;
  font-weight:bold;
}
.table-fixed tbody {
  height: 460px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}




}



/* 768<=x<=991 tablets */
  @media only screen and (min-width: 768px) and (max-width: 991px) 
{ 

#mainbody{
  background:url("../photos/leaderboard768991.jpg") no-repeat;
  background-size:cover;
    }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:#344C72;
}    

table-fixed thead {
  width: 97%;
}

#topmostcontainer
{
  
  background:transparent;
  background-size:cover;
}
#toplevel
{

  background-color:rgba(0, 0, 0,0.7)
}
tr
{
  color:white;
}
.row
{
  color:white;
  font-weight:bold;
}
.table-fixed tbody {
  height: 460px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}



}


/* Medium devices (desktops, 992px and up) */
@media(min-width: 992px) and (max-width: 1199px) 
{ 

#mainbody{
  background:url("../photos/leaderboard9911200.jpg") no-repeat;
  background-size:cover;
    }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color:#344C72;
}    

table-fixed thead {
  width: 97%;
}

#topmostcontainer
{
  
  background:transparent;
  background-size:cover;
}
#toplevel
{

  background-color:rgba(0, 0, 0,0.7)
}
tr
{
  color:white;
}
.row
{
  color:white;
  font-weight:bold;
}
.table-fixed tbody {
  height: 460px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}




}







