 /* very small devices width less than 768 */
 @media only screen and  (max-width: 767px)
{ 

body{
  background:url("../photos/wallpaperwel.jpg") repeat-y;
  background-size:cover;
    }
#topnavbar
 {
  background-color:rgba(0,0,0,.3);
 }   

}


/* Large devices (large desktops, 1200px and up) */
 @media only screen and (min-width: 1200px)
{ 

body{
  background:url("../photos/wallpaperwel.jpg") no-repeat;
  background-size:cover;
    }
#topnavbar
 {
  background-color:rgba(0,0,0,.3);
 }   


}

/* 768<=x<=991 tablets */
  @media only screen and (min-width: 768px) and (max-width: 991px) 
{ 

body{
  background:url("../photos/wallpaperwel.jpg") repeat-y;
  background-size:cover;
    }
#topnavbar
 {
  background-color:rgba(0,0,0,.3);
 }   

}


/* Medium devices (desktops, 992px and up) */
@media(min-width: 992px) and (max-width: 1199px) 
{ 

body{
  background:url("../photos/wallpaperwel.jpg") no-repeat;
  background-size:cover;
    }
#topnavbar/* Large devices (large desktops, 1200px and up) */
 @media only screen and (min-width: 1200px)
{ 

body{
  background:url("../photos/wallpaperwel.jpg") no-repeat;
  background-size:cover;
    }
#topnavbar
 {
  background-color:rgba(0,0,0,.3);
 }   


}
 {
  background-color:rgba(0,0,0,.3);
 }   

}








