 /* very small devices width less than 768 */
 @media only screen and  (max-width: 767px)
{ 

#mainbody{
  background:url("../photos/wallpaperwel.jpg") repeat;
  background-size:cover;
    }
#imagecontainer
{
	position:absolute;
	top:18%;
	max-width:30%;
	max-height:15%;
	left:10%;
	border-radius:20px;
}
#redirectingline
{
	position:absolute;
	top:90%;
	background-color:#CA9853;
	color:white;
}
#correctans
{
	position:absolute;
	top:12%;
	font-weight:bold;
	font-size:17px;
	background-color:green;
	left:40%;
	color:white
}
#wrongans
{
	position:absolute;
	top:12%;
	font-weight:bold;
	font-size:17px;
	background-color:red;
	left:40%;
	color:white;
}

#meme
{
	position:relative;
	width:250px;
	height:auto;
	float:left;
	border-radius:20px;
	margin-right:25px;
}


}

/* Large devices (large desktops, 1200px and up) */
 @media only screen and (min-width: 1200px)
{ 

#mainbody{
  background:url("../photos/wallpaperwel.jpg")repeat;
  background-size:cover;
    }
#imagecontainer
{
	position:absolute;
	top:18%;
	max-width:50%;
	max-height:30%;
	left:26%;
	border-radius:30px;
}
#redirectingline
{
	position:absolute;
	top:90%;
	background-color:#CA9853;
	color:white;
}
#correctans
{
	position:absolute;
	top:13%;
	font-weight:bold;
	font-size:20px;
	background-color:green;
	left:40%;
	color:white
}
#wrongans
{
	position:absolute;
	top:13%;
	font-weight:bold;
	font-size:20px;
	background-color:red;
	left:40%;
	color:white;
}


#meme
{
	position:relative;
	width:500px;
	height:auto;
	float:left;
	border-radius:30px;
	
}


}



/* 768<=x<=991 tablets */
  @media only screen and (min-width: 768px) and (max-width: 991px) 
{ 


#mainbody{
  background:url("../photos/wallpaperwel.jpg") repeat;
  background-size:cover;
    }
#imagecontainer
{
	position:absolute;
	top:18%;
	max-width:50%;
	max-height:30%;
	left:25%;
	border-radius:30px;
}
#redirectingline
{
	position:absolute;
	top:90%;
	background-color:#CA9853;
	color:white;
}
#correctans
{
	position:absolute;
	top:13%;
	font-weight:bold;
	font-size:20px;
	background-color:green;
	left:40%;
	color:white
}
#wrongans
{
	position:absolute;
	top:13%;
	font-weight:bold;
	font-size:20px;
	background-color:red;
	left:40%;
	color:white;
}


#meme
{
	position:relative;
	width:400px;
	height:auto;
	float:left;
	border-radius:30px;
	
}





}


/* Medium devices (desktops, 992px and up) */
@media(min-width: 992px) and (max-width: 1199px) 
{ 

#mainbody{
  background:url("../photos/wallpaperwel.jpg") repeat;
  background-size:cover;
    }
#imagecontainer
{
	position:absolute;
	top:18%;
	max-width:50%;
	max-height:30%;
	left:20%;
	border-radius:30px;
}
#redirectingline
{
	position:absolute;
	top:90%;
	background-color:#CA9853;
	color:white;
}
#correctans
{
	position:absolute;
	top:13%;
	font-weight:bold;
	font-size:20px;
	background-color:green;
	left:40%;
	color:white
}
#wrongans
{
	position:absolute;
	top:13%;
	font-weight:bold;
	font-size:20px;
	background-color:red;
	left:40%;
	color:white;
}


#meme
{
	position:relative;
	width:500px;
	height:auto;
	float:left;
	border-radius:30px;
	
}

}









